body{
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.buttons-bottom{
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: rgba(0,0,0,0.35);
  padding: 5px;
}

.buttons-side{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 35px;
  height: 100%;
  padding: 5px;
}

.color-slots{
  position: fixed;
  top: 0px;
  right: 22px;
  padding: 5px;
  width: 12px;
}

.btn-colorslot{
  padding: 12px;
}

.btn-colorslot.selected{
  border: solid 2px lightblue;
}


.tools button{
  margin-bottom: 5px;
}

.icon{
  width: 20px;
  height: 20px;
}

.icon-sm{
  width: 10px;
  height: 10px;
  position: fixed;
}

.hidden{
  
}